/* TODO: Style DeleteReview Modal */

.delete-review-modal {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.yes-button {
    width: 80%;
    background-color: red;
    margin: 5px 0;
}

.no-button {
    width: 80%;
    background-color: darkgrey;
    margin: 5px 0;
}