/* TODO: Review Form Modal CSS */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.rating-input {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    padding: 10px 0;

}

.rating-input .filled {
    color: #ffc107;
}

.rating-input .empty {
    color: #ccc;
}

.stars {
    padding: 0 10px;
    gap: 5px;
}

.errors {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
    align-self: center;
}

button:hover {
    background-color: #0056b3;
}

.demo-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}